<div class="page-header">
  <h1>Listing Teams</h1>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
    <th>Team #</th>
    <th>Team Name</th>
  </thead>

  <tbody>
    <%= render @teams %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path, class:'btn btn-primary' %>