<div class="page-header">
  <h1>Listing Teams</h1>
</div>

<div class="text-left">
  <%= link_to 'New Team', new_team_path, class:'btn btn-primary' if can? :modify, Team %>
</div>
<table id="teams_table" class='display'>
  <thead>
  <tr>
    <th>Team #</th>
    <th>Team Name</th>    
    <th>High Score</th>    
    <th>Avg Score</th>  
    <th>Standard Deviation</th>      
    <th>Win %</th>    
    <th>Avg Contribution</th> 
    </tr>   
  </thead>
  <tbody>
    <%= render @teams %>
  </tbody>
</table>


<script>
  $(document).ready(
    function() {
      $('#teams_table').DataTable({
        "paging": false,
        "scrollY":"500px",
        "scrollCollapse": true,
        "info": false
      })
    }
  )
</script>