<div class="page-header">
  <h1>FTC Teams </h1><h4>(Aggregate Season Data)</h4>
</div>

<div class="text-left">
  <%= link_to 'New Team', new_team_path, class:'btn btn-primary' if can? :modify, Team %>
</div>

<% if current_user && (current_user.is?(:neutrinos) || current_user.is?(:admin)) %>
<table id="teams_table" class='display'>
  <thead>
  <tr>
    <th>Team #</th>
    <th>Team Name</th>    
    <th>High Score</th>    
    <th>Avg Score</th>  
    <th>St Dev</th>
    <th>Avg Cont</th>       
    <th>Win %</th>    
    </tr>   
  </thead>
  <tbody>
    <%= render @teams %>
  </tbody>
</table>

<% else %>
<table id="teams_table" class='display'>
  <thead>
  <tr>
    <th>Team #</th>
    <th>Team Name</th>    
    <th>High Score</th>    
    <th>Win %</th>    
    </tr>   
  </thead>
  <tbody>
    <%= render @teams %>
  </tbody>
</table>
<% end %>

<script>
  $(document).ready(
    function() {
      $('#teams_table').DataTable({
        "paging": false,
        "scrollY":"1000px",
        "scrollCollapse": true
      })
    }
  )
</script>