<a href="<%= event_path(event) %>" class="thumbnail text-center" style="text-decoration:none; color:#2c3e50;">
<h2><%= event.name %></h2>
<h4><%= show_date(event) %></h4>
<h4><%= show_level(event) %></h4>
</a>