<div class="page-header">
  <h1>Listing Events</h1>
</div>

<% @events.sort_by{|e| [-e.year, -e.month, -e.day] }.each_slice(3) do |events| %>
	<div class="row">
		<% events.each do |e| %>
			<div class="col-md-4">
				<%= render e %>
			</div>
		<% end %>
	</div>
<% end %>
<br>
<div class="text-right">
	<%= link_to 'New Event', new_event_path, class:'btn btn-primary text-right' %>
</div>