<div id="footer">
  <div class="container">
    <p class="text-muted credit">
    	<%= link_to "Subatomic Scouting", root_url %> powered by <%= link_to "Neutrinos (#6433)", "http://www.gofundme.com/neutrinos" %>, designed by Abhinav Venigalla.
    </p>
  </div>
</div>
