<div id="footer">
  <div class="container">
    <p class="text-muted credit">
    	<%= link_to "Subatomic Scouting", root_url %> designed by Neutrinos, with help from Abhinav Venigalla.
    </p>
  </div>
</div>
