<div id="footer">
  <div class="container">
    <p class="text-muted credit">
    	<%= link_to "Subatomic Scouting", root_url %> powered by Neutrinos, designed by Abhinav Venigalla.
    </p>
  </div>
</div>
